@model MVCWebPresentationLayer.Models.Insert.UsuarioInsertViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UsuarioInsertViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPF" class="control-label"></label>
                <input asp-for="CPF" class="form-control" />
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNascimento" class="control-label"></label>
                <input asp-for="DataNascimento" class="form-control" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>

            @{
                string[] tipoUsuario = Enum.GetNames(typeof(DTO.Enums.TipoUsuario));
            }

            <div class="form-group">
                <label class="control-label col-md-2">Tipo_Usuario</label>
                <div class="col-md-10">
                    <select class="form-control" name="TipoUsuario" id="TipoUsuario">
                        @for (int i = 0; i < tipoUsuario.Length; i++)
                        {
                            <option value="@i">@tipoUsuario[i]</option>
                        }
                    </select>
                </div>
            </div>

            @{
                string[] paises = Enum.GetNames(typeof(DTO.Enums.Paises));
            }

            <div class="form-group">
                <label class="control-label col-md-2">Pais</label>
                <div class="col-md-10">
                    <select class="form-control" name="Pais" id="Pais">
                        @for (int i = 0; i < paises.Length; i++)
                        {
                            <option value="@i">@paises[i]</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Confirmar_Senha" class="control-label"></label>
                <input asp-for="Confirmar_Senha" class="form-control" />
                <span asp-validation-for="Confirmar_Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

