@model MVCWebPresentationLayer.Models.Insert.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

    <h1>Login</h1>

    <h4>LoginViewModel</h4>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" type="email" name="Email" id="Email" placeholder="Email" class="form-control" />
                    <span asp-validation-for="Email" name="erroEmail" id="erroEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Senha" class="control-label"></label>
                    <input asp-for="Senha" type="password" name="Senha" id="Senha" placeholder="Senha" class="form-control" />
                    <span asp-validation-for="Senha" name="erroSenha" id="erroSenha" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input name="Login" id="Login" type="submit" value="Login" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts
{
    <script>

        $(document).ready(function () {
            $("#Login").click(function (e) {
                var email = ("#Email").val();
                var senha = ("#Senha").val();
                var sucesso = true;

                if (email == "") {
                    $("#erroEmail").html("O email deve ser informado.");
                    sucesso = false;
                }
                else {
                    $("#erroEmail").html("");
                }

                if (senha == "") {
                    $("#erroSenha").html("A senha deve ser informada.");
                    sucesso = false;
                }
                else if (senha.lenght < 8 || senha.lenght > 16) {
                    $("#erroSenha").html("A senha deve conter de 8 à 16 caracteres.");
                    sucesso = false;
                }

                if (!sucesso) {
                    e.preventDefault();
                }
            });

            $("#Email").change(function () {
                $.get("http://localhost:56070/Usuario/VerificaEmail?email=" + $("#Email").val(), function (data) {
                    $("#erroEmail").html(data);
                });
            });

        });

    </script>
}