@model MVCWebPresentationLayer.Models.Insert.LoginViewModel

@{
    ViewData["Title"] = "Login";
}
    <div class="login">
        <h1>Login</h1>
        <form method="post">
            <input type="email" name="Email" id="Email" placeholder="Email" required="required" />
            <input type="password" name="Senha" placeholder="Senha" required="required" />
            <button type="submit" name="Login" id="Login" class="btn btn-primary btn-block btn-large">Login</button>
        </form>
    </div>
    <link href="~/css/login.css" rel="stylesheet" />

@section Scripts
{
    <script>

        $(document).ready(function () {
            $("#Login").click(function (e) {
                var email = ("#Email").val();
                var senha = ("#Senha").val();
                var sucesso = true;

                if (email == "") {
                    $("#erroEmail").html("O email deve ser informado.");
                    sucesso = false;
                }
                else {
                    $("#erroEmail").html("");
                }

                if (senha == "") {
                    $("#erroSenha").html("A senha deve ser informada.");
                    sucesso = false;
                }
                else if (senha.lenght < 8 || senha.lenght > 16) {
                    $("#erroSenha").html("A senha deve conter de 8 à 16 caracteres.");
                    sucesso = false;
                }

                if (!sucesso) {
                    e.preventDefault();
                }
            });

            $("#Email").change(function () {
                $.get("http://localhost:56070/Usuario/VerificaEmail?email=" + $("#Email").val(), function (data) {
                    $("#erroEmail").html(data);
                });
            });

        });

    </script>
}