@model MVCWebPresentationLayer.Models.Query.Dev_Gen_QueryViewModel

@{
    ViewData["Title"] = "Home Page";
}
    <head>
        <link rel="stylesheet" href="~/css/marquee.css" />
    </head>
    <div class="text-center">
        <h1 class="display-4">MAETS</h1><br />
        <h6 class="display-12">Um serviço de jogos que NÃO foi inspirado na STEAM.(Qualquer semelhança é mera conhecidencia)</h6><br />

        <marquee width="60%" direction="up" behavior="alternate"><marquee direction="right" behavior="alternate">Celo e Dani the best teachers ever!!!!</marquee></marquee>
        <hr />

        <div class="marquee">
            <div class="track">
                <div class="content">
                    &nbsp;<img src="~/images/DeadSpace.jpg" />
                    <img src="~/images/DeadSpace.jpg" />
                    <img src="~/images/DeadSpace.jpg" />
                    <img src="~/images/DeadSpace.jpg" />
                    <img src="~/images/DeadSpace.jpg" />
                    <img src="~/images/DeadSpace.jpg" />
                    <img src="~/images/DeadSpace.jpg" />
                    <img src="~/images/DeadSpace.jpg" />
                    <img src="~/images/DeadSpace.jpg" />
                    <img src="~/images/DeadSpace.jpg" />
                    <img src="~/images/DeadSpace.jpg" />
                </div>
            </div>
        </div>

        <div id="container" class="container">

        </div>
        <br />
        <table align="left" width="12%" border="1">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Gênero")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Generos)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.Nome, "Genero", new {/*id=item.PrimaryKey*/})
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <table align="right" width="12%" border="1">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Desenvolvedor")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Desenvolvedores)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.Nome, "Desenvolvedor", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        
        <table align="center" width="40%">
            <tr>
                <td> 
                    <iframe width="420" height="315" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe> </mark> 
                </td>
            </tr>
            <tr>
                <td> <img src="~/images/IMG_20200316_145425086.jpg" alt="Alternate Text" width="100%" /></td>
            </tr>
            <tr>
                <td> <img src="~/images/IMG_20200316_145425086.jpg" alt="Alternate Text" width="100%" /></td>
            </tr>
            <tr>
                <td> <img src="~/images/IMG_20200316_145425086.jpg" alt="Alternate Text" width="100%" /></td>
            </tr>
            <tr>
                <td> <img src="~/images/IMG_20200316_145425086.jpg" alt="Alternate Text" width="100%" /></td>
            </tr>
            <tr>
                <td> <img src="~/images/IMG_20200316_145425086.jpg" alt="Alternate Text" width="100%" /></td>
            </tr>
        </table>
        <br />
    </div>
