@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">MAETS</h1><br />
        <h6 class="display-12">Um serviço de jogos que NÃO foi inspirado na STEAM.(Qualquer semelhança é mera conhecidencia)</h6><br />
        <hr />
        <p>Createt by: Developers HBSIS</p>
    </div>
